.ingredients {
	background-color: rgba(247, 228, 187, 1);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 347px;
	margin: 10px;
	height: 552px;
	border-radius: 30px;
	font-family: "Montserrat";
	font-weight: 500;
	z-index: 1;
}
.recipe {
	background-color: white;
	z-index: 3;
	display: flexbox;
	position: relative;
	top: -30px;
	width: 280px;
	height: 357px;
	border-radius: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ingredients img {
	z-index: 2;
	width: 347px;
	border-radius: 30px;
	height: 185px;
}
.recipe button {
	background-color: rgba(50, 175, 169, 1);
	color: white;
	width: 223px;
	height: 48px;
	margin: 18px auto;
	display: block;
	border-radius: 30px;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.recipe li {
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.recipe li img {
	width: 40px;
	height: 40px;
}
.name {
	font-size: 24px;
	margin: 10px;
}
.description {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.44);
	margin: 10px;
}
.ingr {
	font-size: 18px;
	margin: 10px;
}
